body {
    background: radial-gradient(#dbffe1, #fff) fixed;
    color: #300927;
    text-align: center;

  }
  h1{
    font-size: 40px;
    font-weight: bold;
    margin: 70px ;
    text-align: center;
    position: sticky;
    
  }
  p{
    font-size: 22px;
    font-weight: bold;
  }
  header {
    background: #680935;
    width: 100%;
    padding: 17px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    text-align: center;
  }
  nav {
    margin: 0 auto;
    overflow: hidden;
    max-width: 700px;
  }
  
  nav ul {
    display: block;
    max-width: 660px;
    padding: 0 10px;
  }
  nav ul li a{
    text-decoration: none;
    color: #2e0826;
    font-weight: bold;
    letter-spacing: 1.4px;
    font-size: 24px;
  }
  
  main{
    width: 100%;
    /* max-width: 950px; */
     margin: 5px;
    overflow: hidden;
    background-color: rgb(172, 104, 146);
    height: 900px;
  }
  
  main > *{
    float:left;
  }
  
  main > :nth-child(odd){
    width:20%
  }
  
  main > :nth-child(2){
    width: 50%;
  }
  
  main ul, main li {
    padding: 0;
    margin: 10px 0;
  }
  
  
  #image-clicks {
    padding: 26px 9px 0 0;
    font-size: 20px;
    line-height: 1.4;
  }
  a {
    color: #a3389a;
    font-weight: bold;
    line-height: 1.4;
  }
  
  img {
    max-height: 800px;
    max-width: 100%;
    margin: 0 auto;
    cursor: pointer;
  }
  #all_images {
    text-align: center;
    size: 1000000px;
    float: left;
  }
  #all_images img {
    height: 1000px;
    width: 400px;
    padding: 0;
    margin: 15px 0;
    border: 1px solid #fefffe;
    box-shadow: 2px 0 12px #63335b;
  }
  
  li {
    display: inline-block;
    list-style: none;
    margin: 20px 40px 20px 0px;
    font-size: 1.2em;
    
  }
  
  body footer {
    background: rgb(172, 104, 146);
    clear: both;
    text-align: center;
    padding: 24px 0;
    color: #ac0e97;
  }
  section div {
    padding: 20px;
    margin-left: 50px;
    box-sizing: border-box;
    float: right;
    width: 63%;
  }
  #output{
    background-color: rgb(247, 112, 202);
    font-size: 15px;
    padding: 15px;
  }
  #all_images h1 {
    text-align: center;
    size: 100px;
    float: left;
  }